body {
    background-color: #FFEFD5;
}

.headers {
    border: 10px solid darkcyan;
    border-radius: 5px;
    width: 99%;
    text-align: right;
}

.footer {
    border: 10px solid darkcyan;
    border-radius: 5px;
    width: 99%;
    text-align: right;
}

.container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
}


@media (min-width: 630px) {
    .container {
        flex-direction: row;
    }
}